<div class="container">
  <div class="signup-container display-section">
    <app-signup (signUpEvent)="onSignUp($event)"></app-signup>
  </div>
  <div class="login-container display-section">
    <app-login (LogInEvent)="onLogIn($event)"></app-login>
  </div>
  <div class="display-container display-section">
    <app-display-details [userdetails]="userDetails"></app-display-details>
  </div>
</div>