.container{
    display:flex;
    min-height: 100vh;
    background-color: rgb(215, 178, 178);
    padding:2rem;
}
.signup-container{
    background-color: rgb(197, 197, 244);
}
.login-container{
    background-color: rgb(232, 179, 179);
}
.display-container{
    background-color:rgb(240, 192, 176);
}    

.display-section{
    flex-basis:100%;
    flex-grow :1;
    border:2px solid black;
}