<form class="signup-form" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <fieldset>
    <label for="userName">userName</label>
    <input id="userName"  formControlName="userName"/>
    <label for="userEmail">userEmail</label>
    <input id="userEmail" formControlName="userEmail">
    <label for="password">Password</label>
    <input id="password" formControlName="password"/>
    <label for="usercity">userCity</label>
    <input id="usercity" formControlName="userCity"/>
    <label for="userrole">userRole</label>
    <input id="userrole" formControlName="userrole"/>
    <label for="userSalary">userSalary</label>
    <input id="userSalary" formControlName="userSalary"/>
    <button class="button" type="submit">Purchase</button>
</fieldset>
</form>
