<h1>User Details</h1>
<div class="details-container">     
     <p>User Name:{{userdetails.userName}}</p>
     <p>User Details:{{userdetails.userEmail}}</p>
     <p>User city:{{userdetails.userCity}}</p>
     <p>User salary:{{userdetails.userSalary}}</p>
     <p>User Role:{{userdetails.userRole}}</p> 
</div>
